.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    
}

.navbar-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    text-align: center;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

.login {
    position: absolute;
    right: 10%;
    color: white;
    text-decoration: underline;
    background-color: #C00808;
    font-size: 36px;
    padding: 5px 20px;
}

.logo {
    position: relative;
    left: 5%;
}

.navbar-links a {
    text-decoration: none;
    color: black;
    font-size: 36px;
    text-decoration: underline;
}

.navbar-links a:hover {
    color: white;
    background-color: #C00808;
    padding: 5px 20px;
    border-radius: 50px;
}

.navbar-links .active {
    background-color: #C00808;
    padding: 5px 15px;
    border-radius: 50px;
    color: white;
}

@media all and (min-width: 980px) and (max-width: 1199px) { 
    .navbar-links a {
        font-size: 20px;
    }

    .login {
        font-size: 20px;
        right: 5%;
    }

    .logo {
        width: 76px;
    }
}

@media all and (min-width: 760px) and (max-width: 979px) {
    .navbar-links a {
        font-size: 16px;
    }

    .login {
        font-size: 16px;
        right: 5%;
    }

    .logo {
        width: 76px;
    }

    .navbar-links {
        gap: 50px;
    }
}

@media all and (min-width: 360px) and (max-width: 759px) {
    .navbar-links a {
        font-size: 8px;
    }

    .login {
        font-size: 8px;
        right: 5%;
        padding: 5px 10px;
    }

    .logo {
        width: 40px;
    }

    .navbar-links {
        gap: 25px;
    }

    .navbar-links .active {
        padding: 5px 10px;
    }
}