.about-us .features-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    justify-self: center;
    margin-top: 30px;
}

.about-us .features-block .feature {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;    
    width: 45%;
    height: auto;
    color: white;
    background-color: #C00808;
}

.about-us .features-block .feature p {
    text-wrap: wrap;
    font-size: 28px;
}

.about-us .features-block .feature img {
    background-color: #C00808;
}

.about-us .trainings-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    justify-self: center;
    margin-top: 30px;
}

.about-us .trainings-block .training {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: start;
    width: 30%;
    height: auto;
    font-size: 28px;
}

.training h2 {
    padding-left: 5%;
}

.training h3 {
    font-weight: normal;
    padding-left: 5%;
}

#first {
    background-image: url('../../images/yoga.png'),
        linear-gradient(rgb(0,0,0,1), rgb(0,0,0,1));
        background-size: cover;
}

#second {
    background-image: url('../../images/power_training.png'),
        linear-gradient(rgb(0,0,0,1), rgb(0,0,0,1));
        background-size: cover;
}

#third {
    background-image: url('../../images/flexibility.png'),
        linear-gradient(rgb(0,0,0,1), rgb(0,0,0,1));
        background-size: cover;
}

#fourth {
    background-image: url('../../images/healthcare.png'),
        linear-gradient(rgb(0,0,0,1), rgb(0,0,0,1));
        margin-top: 30px;
        background-size: cover;
}

#fifth {
    background-image: url('../../images/aqua.png'),
        linear-gradient(rgb(0,0,0,1), rgb(0,0,0,1));
        margin-top: 30px;
        background-size: cover;
}

#sixth {
    background-image: url('../../images/functional.png'),
        linear-gradient(rgb(0,0,0,1), rgb(0,0,0,1));
        margin-top: 30px;
        background-size: cover;
}

.about-us .fit-people {
    margin-top: 50px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    padding-bottom: 30px;
}

.fit-people .fit {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.fit img {
    border: solid 1px black;
    border-radius: 30%;
    width: 100%;
    height: auto;
    justify-self: center;
    align-self: center;
}

.fit h3 {
    text-wrap: wrap;
    width: 100%;
    color: #C00808;
    font-size: 28px;
}

@media all and (min-width: 980px) and (max-width: 1199px) {
    .about-us .trainings-block .training {
        font-size: 24px;
    }

    .training h2 {
        font-size: 24px;
    }

    .training h3 {
        font-size: 24px;
    }
}

@media all and (min-width: 760px) and (max-width: 979px) {
    .about-us .features-block {
        flex-direction: column;
    }

    .about-us .features-block .feature {
        width: 100%;
        padding: 0;
        margin: 0;
    }

   
    
    .about-us .trainings-block .training {
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: start;
        width: 40%;
        height: auto;
        font-size: 24px;
    }

    #first {
        margin-top: 30px;
        background-size: cover;
    }
    
    #second {
        margin-top: 30px;
        background-size: cover;
    }
    
    #third {
        margin-top: 30px;
        background-size: cover;
    }
    
    #fourth {
        margin-top: 30px;
        background-size: cover;
    }
    
    #fifth {
       
        margin-top: 30px;
        background-size: cover;
    }
    
    #sixth {
        margin-top: 30px;
        background-size: cover;
    }

    .training h2, h3 {
        font-size: 24px;
    }

    .fit h3 {
        font-size: 24px;
    }
}

@media all and (min-width: 360px) and (max-width: 759px) {
    .about-us .features-block {
        flex-direction: column;
    }

    .about-us .features-block .feature {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .about-us .features-block .feature p {
        font-size: 8px;
    }

    .about-us .features-block .feature img {
        width: 5%;
    }
    
    .about-us .trainings-block .training {
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: start;
        width: 40%;
        height: auto;
        font-size: 8px;
    }

    #first {
        background-size: cover;
    }
    
    #second {
        background-size: cover;
    }
    
    #third {
        margin-top: 10px;
        background-size: cover;
    }
    
    #fourth {
        margin-top: 10px;
        background-size: cover;
    }
    
    #fifth {
       
        margin-top: 10px;
        background-size: cover;
    }
    
    #sixth {
        margin-top: 10px;
        background-size: cover;
    }

    .training h2, h3 {
        font-size: 8px;
    }

    .fit h3 {
        font-size: 8px;
    }
}