.about-us .features-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    justify-self: center;
    margin-top: 30px;
}

.about-us .features-block .feature {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;    
    width: 45%;
    height: auto;
    color: white;
    background-color: #C00808;
}

.about-us .features-block .feature p {
    text-wrap: wrap;
    font-size: 28px;
}

.about-us .features-block .feature img {
    background-color: #C00808;
}

.about-us .trainings-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    justify-self: center;
    margin-top: 30px;
}

.about-us .trainings-block .training {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: start;
    width: 30%;
    height: auto;
    font-size: 28px;
}

.training h2 {
    padding-left: 5%;
}

.training h3 {
    font-weight: normal;
    padding-left: 5%;
}

#first {
    background-image: url('../../images/yoga.png'),
        linear-gradient(rgb(0,0,0,1), rgb(0,0,0,1));
        background-size: cover;
}

#second {
    background-image: url('../../images/power_training.png'),
        linear-gradient(rgb(0,0,0,1), rgb(0,0,0,1));
        background-size: cover;
}

#third {
    background-image: url('../../images/flexibility.png'),
        linear-gradient(rgb(0,0,0,1), rgb(0,0,0,1));
        background-size: cover;
}

#fourth {
    background-image: url('../../images/healthcare.png'),
        linear-gradient(rgb(0,0,0,1), rgb(0,0,0,1));
        margin-top: 30px;
        background-size: cover;
}

#fifth {
    background-image: url('../../images/aqua.png'),
        linear-gradient(rgb(0,0,0,1), rgb(0,0,0,1));
        margin-top: 30px;
        background-size: cover;
}

#sixth {
    background-image: url('../../images/functional.png'),
        linear-gradient(rgb(0,0,0,1), rgb(0,0,0,1));
        margin-top: 30px;
        background-size: cover;
}

.about-us .fit-people {
    margin-top: 30px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
}

.fit-people .fit {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    justify-self: center;
    justify-content: center;
}

.fit img {
    border: solid 1px black;
    border-radius: 30%;
    width: 100%;
    height: auto;
    justify-self: center;
}

.fit h3 {
    text-wrap: wrap;
    width: 100%;
    color: #C00808;
    font-size: 28px;
}